.lmpixels-map iframe {
  height: 140px;
  max-width: 100%;
  width: 100%;
  margin: 0;
  line-height: 1;
  border: none;
}

.form-group {
  position: relative;
  margin: 0 0 21.5px;
}
.form-control,
.form-control:focus {
  height: 42px;
}
.form-control,
.form-control:focus,
.has-error .form-control,
.has-error .form-control:focus,
input[type="search"],
input[type="password"],
input[type="text"] {
  position: relative;
  @media (prefers-color-scheme: dark) {
    border: 2px solid #999;
  }
  border: 2px solid #d5d6d7;
  border-radius: 5px;
  display: block;
  font-size: 1em;
  line-height: 1.4;
  margin: 0;
  padding: 10px 25px 10px 12px;
  width: 100%;
  background: 0 0;
  background-color: transparent;
  text-align: left;
  color: inherit;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  font-family: poppins, Helvetica, sans-serif;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.1);
}
textarea.form-control,
textarea.form-control:focus {
  height: auto;
}
.form-control ~ .form-control-border {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  border-radius: 5px;
  top: 0;
  opacity: 0;
  background: 0 0;
  border: 2px solid #04b4e0;
  border-right-width: 0;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.form-control:focus ~ .form-control-border {
  left: 0;
  right: 0;
  height: 100%;
  z-index: 1;
  opacity: 1;
  border-right-width: 2px;
}
.has-error .form-control ~ .form-control-border {
  border-color: #ff4c4c;
}
.form-control::-moz-placeholder {
  color: #adadac;
}
.form-control:-ms-input-placeholder {
  color: #adadac;
}
.form-control::-webkit-input-placeholder {
  color: #adadac;
}
.form-group .help-block {
  position: absolute;
  display: inline-block;
  padding: 0 5px;
  font-size: 0.93em;
  line-height: 1.75em;
  margin: -2px 0 0 10px;
  color: #fff;
  background: #ff4e4e;
}
.form-group .help-block:after {
  content: " ";
  position: absolute;
  left: 5px;
  bottom: 100%;
  width: 0;
  height: 0;
  border-bottom: 10px solid #ff4e4e;
  border-right: 10px solid transparent;
}
.form-group .help-block:empty {
  display: none;
}
.form-group-with-icon i {
  position: absolute;
  font-size: 16px;
  top: 13px;
  right: 13px;
  color: #d3d3d3;
}
.form-group-with-icon.form-group-focus i {
  color: #04b4e0;
}
.form-group.form-group-w-checkbox {
  padding-top: 0;
  padding-bottom: 8px;
  margin-bottom: 17px;
}
.form-group-with-icon.form-group-w-checkbox {
  padding-top: 8px;
  padding-left: 52px;
  margin-bottom: 25px;
}
.form-group .form-control-checkbox + label,
.form-group.form-group-focus .form-control-checkbox + label {
  position: relative;
  display: inline;
  left: 0;
  top: 0;
  font-size: 1em;
  opacity: 1;
}
.form-group .form-control-checkbox,
.form-group.form-group-focus .form-control-checkbox {
  display: inline-block;
  width: auto;
  height: auto;
  top: 2px;
}
.form-group.form-group-w-checkbox .help-block {
  top: 100%;
  left: 0;
  margin-left: 0;
}
.form-group.form-group-with-icon.form-group-w-checkbox .help-block {
  left: 52px;
}
.form-group label {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: -1;
  color: #a5a6a7;
  transition: 0.3s;
}
.form-group .form-control:focus ~ label,
.form-group.form-group-focus .form-control ~ label {
  color: #04b4e0;
  top: -20px;
  left: 0;
  z-index: 1;
  font-size: 13px;
}
.form-control,
.form-control:focus,
.has-error .form-control,
.has-error .form-control:focus,
input[type="search"],
input[type="password"],
input[type="text"],
.header-search input.form-control {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}
.block-title {
  display: inline-block;
  position: relative;
  padding-right: 12px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.block-title h3 {
  position: relative;
  font-size: 21px;
  z-index: 1;
}
.block-title h3 span {
  color: #04b4e0;
}
.block-title:after {
  position: absolute;
  opacity: 0.45;
  top: 10px;
  right: 0;
  content: "";
  height: 20px;
  width: 30px;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    #04b4e0,
    #04b4e0 1px,
    transparent 0px,
    transparent 100%
  );
  background-image: -moz-repeating-radial-gradient(
    center center,
    #04b4e0,
    #04b4e0 1px,
    transparent 0px,
    transparent 100%
  );
  background-image: -ms-repeating-radial-gradient(
    center center,
    #04b4e0,
    #04b4e0 1px,
    transparent 0px,
    transparent 100%
  );
  -webkit-background-size: 6px 6px;
  -moz-background-size: 6px 6px;
  background-size: 6px 6px;
  z-index: 0;
}
.white-space-10 {
  padding-bottom: 10px;
}
.white-space-20 {
  padding-bottom: 20px;
}
.white-space-30 {
  padding-bottom: 30px;
}
.white-space-40 {
  padding-bottom: 40px;
}
.white-space-50 {
  padding-bottom: 50px;
}
.white-space-60 {
  padding-bottom: 60px;
}
.white-space-70 {
  padding-bottom: 70px;
}
.info-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.info-list ul li {
  margin-bottom: 10px;
}
.info-list .title {
  color: #04b4e0;
  margin-right: 5px;
  font-weight: 600;
}
.info-block-w-icon {
  margin-bottom: 25px;
}
.info-block-w-icon .ci-text h4 {
  margin: 5px 0;
}
.info-block-w-icon .ci-text p {
  font-size: 0.95em;
}
.info-block-w-icon .ci-icon {
  display: table-cell;
  width: 54px;
  padding-right: 25px;
}
.info-block-w-icon i {
  position: relative;
  font-size: 42px;
  color: #04b4e0;
  opacity: 0.7;
}
.lm-info-block {
  position: relative;
  text-align: center;
  width: 100%;
  display: block;
  margin: 0 0 15px;
  @media (prefers-color-scheme: dark) {
    background-color: #333;
    border: 1px solid #444;
  }
  background-color: #fcfcfc;
  padding: 20px 10px;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.lm-info-block i {
  position: relative;
  font-size: 33px;
  color: #04b4e0;
  z-index: 1;
}
.lm-info-block h4 {
  font-size: 15px;
  margin-top: 8px;
}
.lm-info-block .lm-info-block-value {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  display: block;
  margin: 10px 0;
  color: #04b4e0;
}
.lm-info-block .lm-info-block-value:empty {
  margin: 0;
}

.controls.two-columns .left-column {
  width: 47%;
  float: left;
  margin-right: 3%;
}
.controls.two-columns .right-column {
  width: 50%;
  float: right;
}
.g-recaptcha {
  margin-bottom: 20px;
}
.map {
  width: 100%;
  height: 140px;
  margin: 0 0 35px;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

@media only screen and (max-width: 768px) {
  .info-list {
    margin-top: 20px;
  }
}
