/* Custom CSS */
.customImg {
  width: auto;
  /* min-width: max-content; */
  /* max-width: min-content; */
  display: block;
  vertical-align: middle;
}

.block-title {
  display: inline-block;
  position: relative;
  padding-right: 12px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.block-title h3 {
  position: relative;
  font-size: 21px;
  z-index: 1;
}
.block-title h3 span {
  color: #04b4e0;
}
.block-title:after {
  position: absolute;
  opacity: 0.45;
  top: 10px;
  right: 0;
  content: "";
  height: 20px;
  width: 30px;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    #04b4e0,
    #04b4e0 1px,
    transparent 0px,
    transparent 100%
  );
  background-image: -moz-repeating-radial-gradient(
    center center,
    #04b4e0,
    #04b4e0 1px,
    transparent 0px,
    transparent 100%
  );
  background-image: -ms-repeating-radial-gradient(
    center center,
    #04b4e0,
    #04b4e0 1px,
    transparent 0px,
    transparent 100%
  );
  -webkit-background-size: 6px 6px;
  -moz-background-size: 6px 6px;
  background-size: 6px 6px;
  z-index: 0;
}
.white-space-10 {
  padding-bottom: 10px;
}
.white-space-20 {
  padding-bottom: 20px;
}
.white-space-30 {
  padding-bottom: 30px;
}
.white-space-40 {
  padding-bottom: 40px;
}
.white-space-50 {
  padding-bottom: 50px;
}
.white-space-60 {
  padding-bottom: 60px;
}
.white-space-70 {
  padding-bottom: 70px;
}
.info-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.info-list ul li {
  margin-bottom: 10px;
}
.info-list .title {
  color: #04b4e0;
  margin-right: 5px;
  font-weight: 600;
}
.info-block-w-icon {
  margin-bottom: 25px;
}
.info-block-w-icon .ci-text h4 {
  margin: 5px 0;
}
.info-block-w-icon .ci-text p {
  font-size: 0.95em;
}
.info-block-w-icon .ci-icon {
  display: table-cell;
  width: 54px;
  padding-right: 25px;
}
.info-block-w-icon i {
  position: relative;
  font-size: 42px;
  color: #04b4e0;
  opacity: 0.7;
}
.testimonial {
  text-align: center;
  @media (prefers-color-scheme: dark) {
    border: 2px solid #444;
  }
  border: 2px solid #e5e6e7;
  border-radius: 20px;
  margin: 45px 2px 10px;
  padding: 0 25px 15px;
}
.testimonial img {
  max-width: 90px;
  max-height: 90px;
  margin: -45px auto 20px;
  border-radius: 90px;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.22);
}
.testimonial .text {
  text-align: left;
  font-style: italic;
}
.testimonial .author-info {
  position: relative;
  text-align: left;
  margin-top: 20px;
}
.testimonial .author-info .icon {
  content: "";
  position: absolute;
  font-size: 30px;
  right: 0;
  top: 7px;
  color: #04b4e0;
  opacity: 0.5;
}
.testimonial .author-info .author {
  margin: 0;
  font-size: 15px;
}
.testimonial .author-info .company {
  color: #a5a6a7;
  font-size: 13px;
  font-weight: 300;
  margin: 0;
}
.clients.owl-carousel .client-block {
  padding: 15px;
  margin-bottom: 15px;
}
.client-block {
  text-align: center;
  padding: 5px 0;
  margin-bottom: 30px;
  opacity: 0.7;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.testimonials.owl-carousel .owl-nav,
.clients.owl-carousel .owl-nav {
  position: absolute;
  text-align: right;
  right: 0;
  top: -52px;
}
.testimonials.owl-carousel .owl-nav .owl-prev,
.testimonials.owl-carousel .owl-nav .owl-next,
.clients.owl-carousel .owl-nav .owl-prev,
.clients.owl-carousel .owl-nav .owl-next {
  position: relative;
  display: inline-block;
  @media (prefers-color-scheme: dark) {
    background-color: #444;
    border: 1px solid #444;
    color: #d5d5d5;
  }
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  font-family: "font awesome 5 free";
  font-size: 11px;
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  color: #666;
}
.testimonials.owl-carousel .owl-nav .owl-prev,
.clients.owl-carousel .owl-nav .owl-prev {
  margin-right: 3px;
}
.testimonials.owl-carousel .owl-nav .owl-prev:before,
.testimonials.owl-carousel .owl-nav .owl-next:before,
.clients.owl-carousel .owl-nav .owl-prev:before,
.clients.owl-carousel .owl-nav .owl-next:before {
  position: relative;
  margin: 2px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  display: block;
  cursor: pointer;
  color: inherit;
  z-index: 1;
}
.testimonials.owl-carousel .owl-nav .owl-prev:before,
.clients.owl-carousel .owl-nav .owl-prev:before {
  content: "\f053";
}
.testimonials.owl-carousel .owl-nav .owl-next:before,
.clients.owl-carousel .owl-nav .owl-next:before {
  content: "\f054";
}
.testimonials.owl-carousel .owl-nav .owl-prev:hover,
.testimonials.owl-carousel .owl-nav .owl-next:hover,
.clients.owl-carousel .owl-nav .owl-prev:hover,
.clients.owl-carousel .owl-nav .owl-next:hover {
  background-color: #04b4e0;
  border-color: #04b4e0;
  color: #fff;
}
.fw-pricing .fw-package {
  @media (prefers-color-scheme: dark) {
    background-color: #333;
    border: 2px solid #444;
  }
  background-color: #fff;
  border: 2px solid #e5e5e5;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 10px;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.fw-pricing .fw-package-wrap.highlight-col .fw-package {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.12);
}
.fw-pricing .fw-package:hover,
.fw-pricing .fw-package-wrap.highlight-col .fw-package:hover {
  -webkit-transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -o-transform: translateY(-9px);
  transform: translateY(-9px);
  -webkit-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}
.fw-pricing .fw-package-wrap.highlight-col .fw-heading-row span {
  position: relative;
  display: inline-block;
}
.fw-pricing .fw-package-wrap.highlight-col .fw-heading-row span:after {
  content: "";
  height: 2px;
  margin-top: 0;
  background-color: #04b4e0;
  position: absolute;
  left: 0;
  bottom: -3px;
  right: 0;
}
.fw-pricing .fw-pricing-row {
  padding: 30px 0 10px;
}
.fw-pricing .fw-pricing-row span {
  display: block;
  line-height: 1;
  @media (prefers-color-scheme: dark) {
    color: #f5f5f5;
  }
  color: #333;
  font-size: 42px;
}
.fw-pricing .fw-pricing-row small {
  color: #aaa;
  display: block;
}
.fw-pricing .fw-default-row {
  padding: 5px 0;
  font-size: 14px;
}
.fw-pricing .fw-button-row {
  padding: 10px 0 20px;
}
.fw-pricing .fw-price-icon-no:before {
  content: "\f068";
  color: #e87878;
}
.fw-pricing .fw-price-icon-yes:before {
  content: "\f058";
  color: #ade878;
}

.fun-fact {
  position: relative;
  text-align: center;
  width: 100%;
  display: block;
  margin: 0 0 15px;
  @media (prefers-color-scheme: dark) {
    background: #333;
    border: 2px solid #444;
  }
  background: #fff;
  padding: 25px 10px 15px;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.fun-fact:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
  box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
}
.fun-fact.gray-bg {
  background-color: #fcfcfc;
}
.fun-fact h4 {
  font-size: 16px;
  margin: 15px;
}
.fun-fact i {
  position: relative;
  font-size: 33px;
  color: #04b4e0;
  margin-bottom: 6px;
  width: 33px;
  height: 33px;
}
.fun-fact .lm-info-block {
  font-size: 24px;
  font-weight: 400;
  display: block;
  margin: 10px 0;
  color: #04b4e0;
}
.fun-fact-block-value {
  color: #aaa;
  font-size: 36px;
  line-height: 50px;
  display: block;
  margin: 15px 0 10px;
}
.fun-fact-block-text {
  display: block;
}
