/* Skeleton Glow Animation */
@keyframes skeleton-glow {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

@media (prefers-color-scheme: dark) {
  .glow-animation {
    animation: skeleton-glow 1.5s alternate-reverse infinite;
    background: linear-gradient(
      90deg,
      rgba(224, 224, 224, 0.6) 12.5%,
      rgba(224, 224, 224, 0.8) 25%,
      rgba(224, 224, 224, 0.16) 50%,
      rgba(224, 224, 224, 0.32) 100%
    );
    background-size: 800px 100px;
  }
}

.glow-animation {
  animation: skeleton-glow 1.5s alternate-reverse infinite;
  background: linear-gradient(
    90deg,
    rgba(204, 204, 204, 0.8) 12.5%,
    rgba(204, 204, 204, 0.4) 50%,
    rgba(204, 204, 204, 0.6) 100%
  );
  background-size: 800px 100px;
}

.skeleton-image {
  height: 150px;
  width: 100%;
  background-color: rgba(204, 204, 204, 0.6);
}

.skeleton-category {
  border-radius: 25px !important;
  height: 20px;
  width: 50%;
  background-color: rgba(204, 204, 204, 0.6);
}

.skeleton-title {
  border-radius: 25px;
  height: 20px;
  background-color: rgba(204, 204, 204, 0.6);
}
